@font-face {
  font-family: "Overpass";
  src: url("/fonts/overpass/Overpass-Regular.ttf") format("ttf"),
  url("/fonts/overpass/overpass-regular.otf") format("opentype");
  }
body {
  /* background-image: linear-gradient(to bottom, #a8a8a8, #bdbdbd, #d3d3d3, #e9e9e9, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;  
  height: 100%; */
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#ededed)) fixed;
  /* background-image: linear-gradient(to bottom, #bbbbbb, #ededed); */
  background-image: linear-gradient(to bottom, #bbbbbb, #c7c7c7, #d4d4d4, #e0e0e0, #ededed);
  }
  
  h1 {
    font-family: 'Overpass', sans-serif;
    color: black;
    text-align: left;
  }
  
  p {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
  }
.wrapper{
  font-family: 'Overpass', sans-serif;
}
.container{
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  /* width: 70%; */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 645px;
  height: 406px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.header{
  background-image: linear-gradient(to bottom, #c00,  #470000);
  color: #ffffff; 
}
.title{
  padding: 16px 20px;
  width: 20%;
  display: inline-block;
}
ul.list-item{
  float: right;
  width: 30%;
  margin: 0px;
}
.list-item li {
  list-style: none;
  float: left;
  padding: 16px 15px;
  border-left: 1px solid #fff;
  line-height: 22px;
}
ul.list-item > li > a {
  color: #ffffff;
  text-decoration: none;
}
ul.list-item > li > a:hover {
  color: #4c4c4c;
  /* background-image: linear-gradient(to bottom, #c00, #470000); */
}
ul.list-item > li > a:active {
  color: #cccccc;
  background-image: linear-gradient(to bottom, #c00, #470000);
}
.content{
  padding: 5px 20px;
  color: #4c4c4c;
}
.content-title{
  color: #4c4c4c;
  font-size: x-large;
}
.content-area{

}
.column-layout{

}
ul.column-heading{
  float: left;
  padding: 0;
}
.column-heading li{
  font-weight: 600;
  list-style: none;
  line-height: 38px;
}
ul.column-value{
  float: left;
}
.column-value li{
  list-style: none;
  line-height: 38px;
}
.active-state{
  border-style: none;
  background-color: forestgreen;
  padding: .2rem .5rem;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
